 <!DOCTYPE html>
 <html>
 
 <head>
    <title>Registration Numbers</title>
 	<meta charset="utf-8">
     
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    

</head>
   
    <body>   
    {{{body}}}
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="/js/bootstrap.js"></script>
    
    </body>

</html>