@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
* {
    box-sizing: border-box;
    text-align: center;
    
  }
  body {
    background-color: aliceblue;
  }
  img{
    max-width: 100%;  
  }

  .padding {
    padding-top: 1.5em;
  }

  .buttons {
    padding-left: 2em;
  }

  .margin-top {
    margin-top: 1.5em;
  }

  .margin-top-dec {
    margin-top: 2em;

  }
  .margin-left {
    margin-left: 1.5em;
  }
  .margin-left-dec {
    margin-left: 0.9em;
  }
  .border {
    border-style: solid;
    border-width: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 70%;    


  
  }
  .btn-outline-warning {
    color: black;
    border-color: lavenderblush;
   
  }


.plate {
  background-color: rgb(255, 255, 0);
  border-style: solid;
  border-color: black;
  border-radius: 20%;
  max-width: 15%;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-left: 1em;
  margin-top: 1em;
}

.town {
  max-width: 20%;
}

.margin-top-two {
  margin-top: 4em;
}
  

.width {
  max-width: 50%;
}

#regPlate {
 
  padding: 50px 0;
  text-align: center; 
}

.color {
  border-color: blue;
}

.custom-select {
  color: blue;
}
.header {
  background-color: darksalmon;
}

.modal-title {
  color: red;

}



/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title 

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}